
.collection-item {
   background-color: white;
    padding: 8px;
    flex-direction:column;
    height: auto;
    align-items: center;
    position: relative;
    margin: 10px auto;
    text-overflow:ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    .image {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        margin-bottom: 5px;
    }

    .custom-button {
        width: 80%;
        opacity: 0.7;
        position: absolute;
        top: 255px;
        display: none;
    }

    &:hover {
        .image {
            opacity: 0.8;
        }

        .custom-button {
            opacity: 0.82;
            display: flex;
        }
    }
    .name {
        padding: 9px;
        margin-bottom: 15px;
        font-size: 25px;
        text-align: center;
        
    }

    .collection-footer {
        font-size: 14px;
        width: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        


        .price {
            width: 10%;
        }
    }
}
