.academics{
    margin-top: 5%;
    flex-direction: column;
    padding: 8px;
}
h2{
    font-size: 60px;
    color: black;
    border: white;
    text-align: center;
    
}
.pleaseresize{
        width: 100%;
        padding: 4%;
        border: 10px transparent grey;
    }

.school{
    
    height: auto;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    margin: 5% auto;
    overflow: hidden;
    background-color: white;
   
    border: 1px solid black;
    /* width: auto;
    height: auto;
    display:flex;
    color: black; */
    
} 


@media (max-width: 786px) {

    .school{
        width: 100%;
    }
}




   
