body {
  font-family: 'Yusei Magic';
 
  
  background-image: url('https://wallpaperaccess.com/full/2581470.jpg');
  background-size: cover;
  background-repeat: no-repeat;
   
}
@media (max-width: 700px) {

  .school,
  .navbar {
    flex-direction: column;
  }
}
.project{
  display: flex;
  flex-wrap: wrap;
  margin: 5%;
}
.homepage{
  margin-top: 30%;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  text-align: center;
  background-color: whitesmoke;
   border-radius: 25px;
  padding: 20px 20px 20px 0;
  
}
a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}