body {
  font-family: 'Yusei Magic';
 
  
  background-image: url('https://i.ibb.co/47cLjpm/roma-kaiuk-OUy-V22tp-GXI-unsplash-1.jpg');
  background-size: cover;
  width: 100%;
  background-repeat: no-repeat;
   
}

.project{
  display: flex;
  flex-wrap: wrap;
  margin: 5%;
}
.homepage{
  margin-top: 30%;
  
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
  background-color:rgba(255, 255, 255, 0.705);
   border-radius: 25px;
  padding: 12px;
  
}
a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}